html {
    font-size: 10px;
    background-color: rgb(27, 102, 86);
}

em {
    color: rgb(153, 255, 221)
}

body {
    width: 800px;
    margin: 0 auto;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    text-emphasis-color: rgb(153, 255, 221);
    background-color: rgb(27, 102, 86);
    padding: 0 20px 20px 20px;
    border: 20px double rgb(153, 255, 221);
}

h1 {
    margin: 10% 20%;
    font-size: 64px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#squash-and-stretch {
    text-align: center;
}

h3 {
    font-family: 'Roboto-bold', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
}

#p1 {
    padding: 5%;
    letter-spacing: 1px;
    border: 16px rgb(153, 255, 221);
    border-style: outset;
    margin: 10%;
}

p,
li {
    display: block;
    width: 20;
    font-size: 15px;
    line-height: 2;
}

#to-top-button {
    /* display: none; */
    position: fixed;
    bottom: 2em;
    right: 4em;
}

#to-top-button:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.feedback-foldout {
    transform: rotate(-0.25turn);
    display: block;
    position: fixed;
    right: -4em;
    top: 50%;
    transition: ease-out 0.2s;
    background: rgb(22, 22, 22);
    height: 5em;
    width: 7em;
    padding-top: 0.5em;
    font-size: 16px;
    text-align: center;
    margin: 0;
}

.feedback-foldout:hover {
    right: -3em;
}

#plus-sign {
    font-size: 18px;
    display: inline-block;
    transition: ease-out 0.2s;
}

.feedback-foldout:hover #plus-sign {
    transform: rotate(90deg);
}